{
	admin off
}

sample-nestjs.dev.parsa1.de {
	handle /api/* {
		route {
			@unauthorized not header X-RapidAPI-Proxy-Secret {$RAPIDAPI_PROXY_SECRET}
			respond @unauthorized "Unauthorized" 403
			reverse_proxy sample-nestjs:3000
		}
	}

	handle /docs* {
		reverse_proxy sample-nestjs:3000
	}

	handle {
		reverse_proxy sample-nestjs:3000
	}
}

sample-python.dev.parsa1.de {
	handle /api/* {
		route {
			@unauthorized not header X-RapidAPI-Proxy-Secret {$RAPIDAPI_PROXY_SECRET}
			respond @unauthorized "Unauthorized" 403
			reverse_proxy sample-python:8000
		}
	}

	handle /docs* {
		reverse_proxy sample-python:8000
	}

	handle {
		reverse_proxy sample-python:8000
	}
}

scraper-kleinanzeigen.dev.parsa1.de {
	handle /api/* {
		route {
			@unauthorized not header X-RapidAPI-Proxy-Secret {$RAPIDAPI_PROXY_SECRET}
			respond @unauthorized "Unauthorized" 403
			reverse_proxy scraper-kleinanzeigen:8000
		}
	}

	handle /docs* {
		reverse_proxy scraper-kleinanzeigen:8000
	}

	handle {
		reverse_proxy scraper-kleinanzeigen:8000
	}
}

dev.parsa1.de {
	respond "API Platform - dev.parsa1.de" 200
}
